# python
__pycache__/
venv
.venv
.env
.DS_Store
frontend/dynamic_app_settings.json
frontend/metadata.yaml
forecastic/train_model_output.*.yaml
notebooks/prep_scoring_data_output.*.yaml
e2e/test_results/*

.env*
!.env.template

